<div class="col-md-4">
    <%= link_to(pages__genres_path + "?genre_id=1") do %>
            <h5 class="card-title">Romance</h5>
          </div>
        </div>
    <% end %>
</div>
<div class="col-md-4">
    <%= link_to(root_path + "?genre_id=2") do %>
            <h5 class="card-title">Sci-fi</h5>
          </div>
        </div>
    <% end %>
</div>
<div class="col-md-4">
    <%= link_to(root_path + "?genre_id=3") do %>
                <h5 class="card-title">Fiction</h5>
            </div>
        </div>
    <% end %>
</div>
<div class="col-md-4">
    <%= link_to(root_path + "?genre_id=4") do %>
                <h5 class="card-title">Thriller</h5>
            </div>
        </div>
    <% end %>
</div>
<div class="col-md-4">
    <%= link_to(root_path + "?genre_id=5") do %>
                <h5 class="card-title">Picture</h5>
            </div>
        </div>
    <% end %>
</div>
<div class="col-md-4">
    <%= link_to(root_path + "?genre_id=6") do %>
                <h5 class="card-title">Non-fiction</h5>
            </div>
        </div>
    <% end %>
</div>